<div><h1>Edit Account</h1></div>


<div style="background-color:#B09E99">
<%= form_with model: @user do |f| %>
  <%= f.text_field  :name, placeholder:@user.name %> <br> <br>
	<%= f.text_field :username, placeholder:@user.username %><br> <br>
   <%= f.text_field :profile_pic, placeholder:"insert picture url" %> <br> <br>
  <%= f.text_field :email, placeholder: @user.email %> <br> <br>
	<%= f.password_field :password, placeholder:"Password" %><br> <br>
	<%= f.password_field :password_confirmation, placeholder:"Confirm Password" %><br>
	<%= f.submit "Save Changes" %>
   
<% end %>
</div>