<h6>Welcome, <%= @user.name %></h6>
<div style="background-color:orange">
<p><img src=<%= @user.profile_pic %>>  <h1><%= @user.username %></h1></p>
</div>
<br><br>
<div style="background-color:lightblue">
<h1>My Bikes</h1>
 <% @user.bikes.each do |bike|%>
 <p><img src=<%= bike.photo %>></p>
 <h3><%= bike.make %>/<%= bike.model %>,   <%= bike.year %></h3>
 <%= link_to bike.type.style, type_path %>
<% end%>
</div>
<br>
<div style="background-color:lightgreen">
<h1>My Trails</h1>

 <% @user.ratings.each do |rating| %>
   <img src=<%= rating.trail.photo %> style="max-width: 50%; height: auto"><br>
   <%= link_to rating.trail.name, trail_path %> <%=rating.trail.location %> <br>
   <%= rating.trail.description%> <br>
   <%= link_to rating.trail.type.style, trail_path %> <br>
    <h3><%= rating.trail.distance %> Miles</h3> 
   <h3>Difficulty<%=rating.trail.difficulty %> </h3> 
   <h3>Rating
   <%=  "*" * (rating.score)  %> </h3> 
   <h3>My thoughts</h3>
    <%= rating.comment %> <br>
  <h6><%= rating.date.strftime("%B %d, %Y at %I:%M %p")  %></h6>
  <% end%>
</div>
<br>
<br>
<div style="background-color:yellow">
<h1>Upcoming Events</h1>
 <% @user.sign_ups.each do |su| %>
 <%= su.event.name %> <br>
 <%= su.event.date %> <br>
 <%= su.event.location%> <br>
 <%= su.event.description %> <br>
 <%= su.event.price %> <br>
 <%= su.event.type.style%> <br>
 <%= su.event.sponsor%> <br>
 <%= su.event.website %> <br>
<h5><%= button_to "remove", sign_up_path(@id = su.id ), :method => "delete" %></h5>
 <br>
<br>

 <% end %>
</div>



<p>Find me in app/views/users/show.html.erb</p>
