<h2>Welcome, <%= @user.name %></h2>
<div style="background-color:orange">
    <h1><%= @user.username %></h1><img src=<%= @user.profile_pic %> style="max-width: 50%; height: auto">>
</div>
<br><br>

<div style="background-color:lightblue">
<h1>My Bikes</h1>
    <% @user.bikes.each do |bike|%>
        <p><img src=<%= bike.photo %> style="max-width: 50%; height: auto"></p>
        <h3><%= bike.make %>/<%= bike.model %>,   <%= bike.year %></h3>
        <%= link_to bike.type.style, type_path %>
    <% end%>
</div>
<br>

<div style="background-color:lightgreen">
<h1>My Trails</h1>
    <% @user.ratings.each do |rating| %>
        <img src=<%= rating.trail.photo %> style="max-width: 50%; height: auto"><br>
        <%= link_to rating.trail.name, trail_path %> <%=rating.trail.location %> <br>
        <%= rating.trail.description%> <br>
        Trail Style: <%= link_to rating.trail.type.style, trail_path %> <br>
        Distance: <%= rating.trail.distance %> miles <br>
        Difficulty: <%=rating.trail.difficulty %> <br>
        My Rating: <%= rating.score %><br>
        My Comment: <%= rating.comment %> <br>
        <p><%= rating.created_at.strftime("Posted %m/%d/%Y")  %></p>
    <% end%>
</div>
<br>
<br>

 <% @user.events.each do |event| %>
 <%= event.name %> <br>
 <%= event.date %> <br>
 <%= event.location%> <br>
 <%= event.description %> <br>
 <%= event.price %> <br>
 <%= event.type.style%> <br>
 <%= event.sponsor%> <br>
 <%= event.website %> <br>
 <br>
<br>
 <% end %>
