<h1><%= @event.name %></h1>

<%= @event.date.strftime("%B %d, %Y at %I:%M %p") %><br>
<%= @event.location %><br>
Distance: <%= @event.distance %> miles<br>
Price: $<%= @event.price %><br>
<a href= <%= @event.website %> target="_blank">Website</a><br>
Type: <%= @event.type.style %>
<%= link_to "Sign Up Here" %>