<h1>Trails</h1>

<ul><% @trails.each do |trail| %>
	<li><h3><%= link_to trail.name, trail %></h3>
	<img src=<%= trail.photo %> style="max-width: 50%; height: auto"><br>
	<%= trail.location %><br>
	<%= trail.description %><br>
	User Rating: <%= trail.rating %><br>
	<%= trail.distance %> miles<br>
	Difficulty: <%= trail.difficulty %><br>
	Style: <%= trail.type.style %><br>
</li>
<% end %></ul>
