<h1><%= @trail.name %></h1>

	<img src=<%= @trail.photo %> style="max-width: 50%; height: auto"><br>
	<%= @trail.location %><br>
	<%= @trail.description %><br>
	User Rating: <%= @trail.rating %><br>
	<%= @trail.distance %> miles<br>
	Difficulty: <%= @trail.difficulty %><br>
	Style: <%= @trail.type.style %><br>