<div><h1>Edit Bike</h1></div>


<div style="background-color:#B4E1FF">
<%= form_with model: @bike do |f| %>
  <%= f.text_field  :make, placeholder:@bike.make %> <br> <br>
	<%= f.text_field :model, placeholder:@bike.model %><br> <br>
   <%= f.text_field :photo, placeholder:"insert picture url" %> <br> <br>
  <h3><%= f.radio_button :modification, "mod", disabled: false %> Modified</h3><br> <br>

	<%= f.submit "Save Changes" %>
   
<% end %>
</div>
