
<div><h1>New Bike</h1></div>


<div style="background-color:#b8dbd9">
<%= form_with model: @bike do |f| %>
  <%= f.text_field  :make, placeholder:"Make" %> <br> <br>
	<%= f.text_field :model, placeholder:"model" %><br> <br>
  	<%= f.select :year, options_for_select(1990..2020)%><br> <br>
   <%= f.text_field :photo, placeholder:"insert picture url" %> <br> <br>
   <%= f.collection_select(:type_id, Type.all, :id, :style)%>
  <h3><%= f.check_box :modification %> Modified</h3><br> <br>

	<%= f.submit "Save" %>
   
<% end %>
</div>

